html,
body {
    font-family: sans-serif;
}

#picker {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#finish-dialog {
    position: absolute;
    top: 0px;
    left: calc(50% - 250px);
    width: 500px;
    text-align: center;
}

.scaling-preview {
    position: relative;
    margin-left: 10px;
    width: 480px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.1);
}

.setting-field,
.buttons-field {
    margin: 5px 0;
}

.download-button,
.close-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 7px;
    margin: 0 3px;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.download-button {
    background-color: #65bcd4;
}

.close-button {
    background-color: #d46565;
}